.stroke-text {
    color: transparent;
    -webkit-text-stroke: 2px #8338ec;
  }
  
  /* Animated (second) Text */
  .animated-text {
    color: #c19bf5;
    animation: wave 4s ease-in-out infinite;
  }
  
  @keyframes wave {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }